In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [18]:
data = pd.read_csv(r"C:\Users\Vinoth\Desktop\HOPE AI\Machine Learning\Finding the Best Model for 50 Startups Data set by Tuning HyperParameters\DataSet\50_Startups.csv")

In [19]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [20]:
# Converting the ctaegory column into numeric values
data = pd.get_dummies(data,drop_first=True)

In [21]:
data.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,1,0

In [22]:
data = data.iloc[:,[0,1,2,4,5,3]]

In [23]:
data.head(2)

,R&D Spend,Administration,Marketing Spend,State_Florida,State_New York,Profit
0,165349.2,136897.80,471784.10,0,1,192261.83
1,162597.7,151377.59,443898.53,0,0,191792.06

In [24]:
# check for null

data[data.isna().any(axis=1)]

Empty DataFrame
Columns: [R&D Spend, Administration, Marketing Spend, State_Florida, State_New York, Profit]
Index: []

In [25]:
# check for NA

data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [R&D Spend, Administration, Marketing Spend, State_Florida, State_New York, Profit]
Index: []

In [27]:
data.head(2)

,R&D Spend,Administration,Marketing Spend,State_Florida,State_New York,Profit
0,165349.2,136897.80,471784.10,0,1,192261.83
1,162597.7,151377.59,443898.53,0,0,191792.06

In [28]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State_Florida',
       'State_New York', 'Profit'],
      dtype='object')

In [31]:
# Dividing the dependent[Output] and independent[Input] variables from the dataset

independent = data[['R&D Spend', 'Administration', 'Marketing Spend', 'State_Florida','State_New York']]
dependent = data[['Profit']]

In [32]:
# Dividing the dataset for training/building and testing model.

X_Train,X_Test,Y_Train,Y_Test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [33]:
# We can this as MLR(Mutiple Linear Regression) model because we have more than one columns as input variable
# If we had only one column as input value then we call this model as simple linear regression model

MLR_Model = LinearRegression()
MLR_Model.fit(X_Train,Y_Train)

LinearRegression()

In [34]:
# check the solpe (m) and intercept value of the model (c) ----> Formula = y=mx+c
MLR_Model.intercept_

array([42403.87087053])

In [35]:
MLR_Model.coef_

array([[7.90840255e-01, 3.01968165e-02, 3.10148566e-02, 4.63028992e+02,
        3.04799573e+02]])

In [36]:
# Test the model using the test data and find accuracy using the R2_score


Y_Predicted = MLR_Model.predict(X_Test)

In [38]:
# Calculate the r2_score

r2_Score = r2_score(Y_Predicted,Y_Test)

In [39]:
r2_Score

0.934615450563016