## Svm can ve used for both regression and classification problem but we are going to use it for regression since Our data set has output as numeric value

In [489]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [490]:
# import data
data = pd.read_csv(r"C:\Users\Vinoth\Desktop\HOPE AI\Machine Learning\Finding the Best Model for 50 Startups Data set by Tuning HyperParameters\DataSet\50_Startups.csv")

In [491]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [492]:
# Checking for NA values in data set
data[data.isna().any(axis=1)]

Empty DataFrame
Columns: [R&D Spend, Administration, Marketing Spend, State, Profit]
Index: []

In [493]:
# Checking for null values in data set
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [R&D Spend, Administration, Marketing Spend, State, Profit]
Index: []

In [494]:
# Converting the "State" category type column to numeric column
data = pd.get_dummies(data,drop_first=True)

In [495]:
data.head(3)

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,0,0
2,153441.51,101145.55,407934.54,191050.39,1,0

In [496]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_Florida', 'State_New York'],
      dtype='object')

In [497]:
# splitting the data set into dependent and independent variables
dependent = data[['Profit']]
independent = data[['R&D Spend', 'Administration', 'Marketing Spend','State_Florida', 'State_New York']]

In [498]:
dependent.head(3)

      Profit
0  192261.83
1  191792.06
2  191050.39

In [499]:
independent.head(3)

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0

In [500]:
# Perform test train split to create ,train and test the model

X_Train,X_Test,Y_Train,Y_Test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [501]:
print(X_Train.shape)
print(X_Test.shape)

(35, 5)
(15, 5)

In [502]:
# Create a SVM regression model using training data

SVM_Regressor_Model = SVR()
SVM_Regressor_Model.fit(X_Train,Y_Train)

C:\Users\Vinoth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [503]:
# Test the model using the test data
Predicted_Y = SVM_Regressor_Model.predict(X_Test)

In [504]:
# Calculate the model performance using r2_score

R2_score = r2_score(Y_Test,Predicted_Y)

In [505]:
R2_score

-0.05731730927224388

# Now lets try to perform standardization of data and create the same model
## Standardizarion is performed when all the coulumns have different measuring units (or) when the minimal & maiximum value of each column is verty high or very low than other values in the coulumn

In [506]:
# Lets take the X_Train to fit the trandormation and apply it to X_Test values as well

from sklearn.preprocessing import StandardScaler
X_Train_Tnsf = StandardScaler()
X_Train = X_Train_Tnsf.fit_transform(X_Train)

In [507]:
X_Test = X_Train_Tnsf.transform(X_Test)

In [508]:
X_Test

array([[-0.1403821 ,  2.28593993, -0.63280437,  2.        , -0.76870611],
       [ 0.5692117 , -1.24096039,  0.37552686, -0.5       , -0.76870611],
       [ 0.59465017, -0.51102691,  0.21780907,  2.        , -0.76870611],
       [-0.92249538, -1.51579286, -0.27786722,  2.        , -0.76870611],
       [ 1.65079661, -0.87781077,  1.58762665,  2.        , -0.76870611],
       [-0.01625436,  0.15939469,  1.16810991, -0.5       ,  1.30088727],
       [-1.07956593, -2.24414796, -0.11853428, -0.5       ,  1.30088727],
       [-0.24112469,  1.1235571 , -0.86213689, -0.5       ,  1.30088727],
       [ 0.02242149, -0.03787582,  0.78603258,  2.        , -0.76870611],
       [ 1.41848712, -1.25644297,  1.26760194,  2.        , -0.76870611],
       [-0.3567741 , -0.80359112,  0.10650537,  2.        , -0.76870611],
       [-0.55107837, -1.50272366,  0.03664684, -0.5       ,  1.30088727],
       [ 0.04977002,  0.79103569, -0.5109594 ,  2.        , -0.76870611],
       [-0.54263284,  1.31734166,  0.07710403, -0.5       , -0.76870611],
       [ 0.38632657, -0.37198959,  0.7216716 ,  2.        , -0.76870611]])

In [509]:
X_Train

array([[ 1.17644103,  0.84515251,  0.94354978,  2.        , -0.76870611],
       [ 0.96420324,  1.27283565,  0.42738817,  2.        , -0.76870611],
       [-1.47369826,  0.0153175 , -1.52350329, -0.5       ,  1.30088727],
       [-1.48308929, -2.79556363, -1.53809178, -0.5       ,  1.30088727],
       [-0.14952431,  1.13637282, -0.71716495, -0.5       ,  1.30088727],
       [ 0.85312042, -0.04431628,  0.46771725, -0.5       ,  1.30088727],
       [-0.22353674, -0.3151007 , -0.83981652,  2.        , -0.76870611],
       [-0.19454707,  0.21199679, -1.18497259, -0.5       , -0.76870611],
       [ 0.10478723, -0.08388412,  0.48740807, -0.5       , -0.76870611],
       [-1.0096458 , -1.07019473, -0.4040623 , -0.5       , -0.76870611],
       [ 0.06872897, -0.38396487,  0.75036616, -0.5       , -0.76870611],
       [-1.17638797,  0.14067421, -1.26581817, -0.5       ,  1.30088727],
       [ 0.97648631,  0.9689421 ,  0.84958395, -0.5       ,  1.30088727],
       [ 0.39131191,  0.45560401,  0.3979037 , -0.5       , -0.76870611],
       [-0.16880669,  0.6131351 , -0.48098026, -0.5       , -0.76870611],
       [ 1.2088001 , -0.92947267,  1.24226224, -0.5       ,  1.30088727],
       [ 0.44593006,  0.82758768,  0.62707846, -0.5       ,  1.30088727],
       [-0.90483959, -0.20234037, -0.21407884, -0.5       , -0.76870611],
       [-1.49419935, -0.26298539, -1.19196207, -0.5       , -0.76870611],
       [ 1.83846539,  1.07214791,  1.86319367, -0.5       , -0.76870611],
       [ 0.42966802,  0.13827054,  0.37625394,  2.        , -0.76870611],
       [-0.59092478, -2.81342077, -0.02839248, -0.5       , -0.76870611],
       [ 0.08492419, -0.95017758, -0.46096486, -0.5       ,  1.30088727],
       [ 1.26493068,  0.90993408, -0.55948669, -0.5       , -0.76870611],
       [-0.11002675, -0.69903054,  0.79713886,  2.        , -0.76870611],
       [-0.90669595,  0.12801572,  0.00300304,  2.        , -0.76870611],
       [ 0.11250125,  1.16515207,  0.75858643, -0.5       ,  1.30088727],
       [ 0.27709192,  1.15508553, -1.53809178, -0.5       ,  1.30088727],
       [ 1.03371959, -0.585363  ,  0.79877008, -0.5       , -0.76870611],
       [-0.70388936, -1.58289852, -0.19719396, -0.5       , -0.76870611],
       [-1.46723718, -0.30831009,  0.73848951,  2.        , -0.76870611],
       [ 1.46491286, -0.19745694,  1.39810017, -0.5       ,  1.30088727],
       [ 1.89486118,  0.51005662,  2.07686138, -0.5       ,  1.30088727],
       [-1.49419935,  0.4529585 , -1.53809178, -0.5       , -0.76870611],
       [-1.0396359 ,  1.20524087, -1.32098255, -0.5       , -0.76870611]])

In [868]:
# Create a SVM regression model using Transformed training data

SVM_Regressor_Model = SVR(kernel='linear',C=100000)
SVM_Regressor_Model.fit(X_Train,Y_Train)

C:\Users\Vinoth\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=100000, kernel='linear')

In [869]:
# Test the model using the tarnsformed test data
Predicted_Y = SVM_Regressor_Model.predict(X_Test)

In [870]:
# Calculate the model performance using r2_score

R2_score_Transformed = r2_score(Y_Test,Predicted_Y)

In [872]:
R2_score_Transformed

0.9301248440619172

In [ ]:
# Lets change the parameter