In [38]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [39]:
# Importing the Data set for Multiple Linear Regression using pandas

Data = pd.read_csv(r"C:\Users\Vinoth\Desktop\HOPE AI\Machine Learning\Mutiple Linear Regression\DataSet\50_Startups.csv")

In [40]:
Data.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [41]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [42]:
# Converting the State categories coulmn into numeric using one hot encoding technique by pandas get dummies method 

State = pd.get_dummies(Data['State'],prefix='State',drop_first=True)

In [43]:
# Delete the "State" column from the original data frame as it was already converted into numerical data

Data.drop('State',inplace=True,axis=1)

In [44]:
Data.head(2)

   R&D Spend  Administration  Marketing Spend     Profit
0   165349.2       136897.80        471784.10  192261.83
1   162597.7       151377.59        443898.53  191792.06

In [45]:
# Concating the above State data series as column to the original dataframe

Data = pd.concat([Data,State],axis=1)

In [46]:
Data.head(2)

,R&D Spend,Administration,Marketing Spend,Profit,State_Florida,State_New York
0,165349.2,136897.80,471784.10,192261.83,0,1
1,162597.7,151377.59,443898.53,191792.06,0,0

In [47]:
# Moving the Profit columns to the end

Data = Data.iloc[:,[0,1,2,4,5,3]]

In [48]:
Data.head(2)

,R&D Spend,Administration,Marketing Spend,State_Florida,State_New York,Profit
0,165349.2,136897.80,471784.10,0,1,192261.83
1,162597.7,151377.59,443898.53,0,0,191792.06

In [49]:
Data.shape

(50, 6)

In [63]:
# Lets divide the data into dependent and independent variables

dependent = Data[['Profit']]
independent = Data.loc[:, 'R&D Spend':'State_New York']

In [64]:
dependent.head(3)

      Profit
0  192261.83
1  191792.06
2  191050.39

In [65]:
independent.head(2)

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.2       136897.80        471784.10              0               1
1   162597.7       151377.59        443898.53              0               0

In [66]:
independent.shape

(50, 5)

In [67]:
dependent.shape

(50, 1)

In [68]:
# Splitting the data into train and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [69]:
X_train.shape

(35, 5)

In [70]:
X_test.shape

(15, 5)

In [73]:
# Lets build/train the model based on our training data X_train and Y_Train

from sklearn.linear_model import LinearRegression

Multiple_Linear_Reg_Model = LinearRegression()

Multiple_Linear_Reg_Model.fit(X_train,y_train)

LinearRegression()

In [74]:
# the below is the value of c(intercpet) in eqaution of y = mx+c

Multiple_Linear_Reg_Model.intercept_

array([42403.87087053])

In [76]:
# the below is the m(slope) value[m1,m2,m3,m4,m5] of each input columns from X_Train
Multiple_Linear_Reg_Model.coef_

array([[7.90840255e-01, 3.01968165e-02, 3.10148566e-02, 4.63028992e+02,
        3.04799573e+02]])

In [77]:
# Lets test the model and find accuracy using out X_test and y_test

Predicted = Multiple_Linear_Reg_Model.predict(X_test)

In [79]:
# from above line the preedicted y values are stored under the "Predicted" Variable lest use R2_Score to test accuracy
from sklearn.metrics import r2_score
r_score = r2_score(y_test,Predicted)

In [80]:
r_score

0.9358680970046241

## We have found from the above results of R2_score that our model gives us the prediction with 93% accuracy. so its not bad model its working good more than we expected so we can use this model for production as now

In [82]:
# Save the model to pickle file so that we can load and test it

import pickle
pickle.dump(Multiple_Linear_Reg_Model,open("Multiple_Linear_Reg_Model.sav",'wb'))

In [83]:
loaded_model=pickle.load(open("Multiple_Linear_Reg_Model.sav",'rb'))